
//fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//variables
@import 'variables';

//bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

body {
    padding-top: 39px;
}

//nav
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar {
    justify-content: left;
}
.navbar a {
    margin-left: 20px
}
li {
    list-style: none;
}

//home
.straube {
    margin-left: 65px;
    margin-top: 50px;
}

//time Tracking
.stop {
    background-color: red;
}

//activity
.activity {
    width: 90%;
}

//reports
.fa {
    @extend .fas;
}
.fa-clock-o {
    @extend .fa-clock;
}
