/**
/ Fonts
**/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

/**
/ Variables
**/
@import 'variables';

/**
/ Bootstrap
**/
@import '~bootstrap/scss/bootstrap';
@import '~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

/**
/Body
**/
body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 39px;
}

/**
/ Nav
**/
.navigation {
    a {
        color: #ffffff;
        font-weight: 300;
        justify-content: left;
        margin-right: 25px;
        text-decoration: none;
    }
}
.drop {
    display: flex;
    margin-left: auto;

    a {
        color: black;
    }
}

/**
/ Time
**/
.start {
    width: 8%;
}

/**
/ Activity
**/
.activity {
    width: 95%;
}

/**
/ Reports
**/
.fa {
    @extend .fas;
}
.fa-clock-o {
    @extend .fa-clock;
}
