/* Fonts */
// @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

/* Variables */
@import 'variables';

/* Bootstrap */
@import '~bootstrap/scss/bootstrap';
@import '~tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4-build';
@import '~select2/src/scss/core';
@import '~select2-bootstrap4-theme/src/select2-bootstrap4';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

/* body */
body {
    // font-family: 'Montserrat', sans-serif;
    padding-top: 55px;
}

/* login */
.html-guest {
    height: 100%;

    body {
        align-items: center;
        background-color: #3E5673;
        display: flex;
        min-height: 100%;
        padding-top: 0;

        h2, h3, a, label {
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }
}

/* nav */
nav {
    background-color: #14283C;

    a {
        color: #FFFFFFC2;
        font-weight: 400;
        justify-content: left;
        margin-right: 18px;
        text-decoration: none;

        &:hover {
            color: #BCBEC1;
        }
    }
}
.drop {
    a {
        color: black;
    }
}
.navbar-nav {
    align-items: center;
}
.nav-link {
    align-items: center;
    display: flex;

    i {
        margin-left: 5px;
    }
}
.started {
    color: #38C172;
    &:hover {
        color: #38C172;
        text-decoration: none;
    }
}
.finished {
    color: #EB5A46;
    &:hover {
        color: #EB5A46;
        text-decoration: none;
    }
}

/* time auto */
.lets {
    white-space: nowrap;
}

/* time */
.start {
    width: 8%;
}

/* activity */
.activity {
    width: 95%;
}

/* reports */
.fa {
    @extend .fas;
}
.fa-clock-o {
    @extend .fa-clock;
}

/* point */
.negative {
    color: $red;
}

.signature {
    border: none;
    border-bottom: 1px solid;
    background-color: #f8fafc;
    border-radius: 0;
    height: 0;
    max-width: 200px;
}
